on:
  workflow_dispatch:
  push:
    branches: main

name: Quarto Publish

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v4

      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2
        with:
          version: "1.3.450"

      - name: Show Quarto version
        run: |
          quarto --version

      - name: Install R
        uses: r-lib/actions/setup-r@v2
        with:
          r-version: "4.5.0"
          use-public-rspm: true

      # this step is for the igraph dependency which was failing on build
      # as of June 4, 2025. igraph is a dependency of TDA
      - name: Install system dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y \
            libxml2-dev libglpk-dev libgmp-dev libcairo2-dev

      - name: Set up Renv
        uses: r-lib/actions/setup-renv@v2
        with:
          cache-version: 2

      # Note: `ripserr` is already in `renv.lock`, so it will be installed by renv restore.

      - name: Render and Publish
        uses: quarto-dev/quarto-actions/publish@v2
        with:
          target: gh-pages
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}


